/** @format */
.el-submenu,
.el-menu-item {
  width: 100px;
  text-align: center;
  margin: 0 10px;
  font-size:12px;
}

.el-submenu__icon-arrow {
  top: 54px;
  margin-top: 0;
  right: 5px;
}

.el-submenu.is-active .nav-icon,
.el-submenu.is-active .el-submenu__icon-arrow {
  color: #feba34;
}

.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title {
  font-size:12px;
  padding-top: 18px;
  height: 80px;
  line-height: 1;
}

.el-menu--horizontal>.el-submenu .el-submenu__icon-arrow{
  margin-top:0;
}

.el-menu--collapse .el-menu .el-submenu,
.el-menu--popup {
  min-width: 0;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
}

.el-form-item__label {
  color: #fff;
  padding-right: 20px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #feba34;
  color: #fff;
}

.el-table {
  color: #fff;
}

.el-table,
.el-table__expanded-cell {
  background-color: #50697f;
}

.el-table tr {
  background-color: transparent;
}

.el-table th {
  background-color: #486177;
}

.el-table td {
  background-color: #50697f;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #415a70;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  content: '';
  position: absolute;
  background-color: #415a70;
  z-index: 1;
}

.el-table thead {
  color: #fff;
  font-weight: 500;
}

.el-table--enable-row-hover .el-table__body tr {
  transition: all 0.2s ease;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #567086;
}

.el-table .cell {
  padding: 10px 20px;
}

.el-table th > .cell {
  padding: 0 20px;
}

.el-drawer{
  background:#566f86;
}
.el-drawer__header{
  padding:20px 180px 0;
  color:#fff;
}